{% extends 'base.html' %}

{% block content %}
    <h2> Enter your new password </h2>
    {% if validlink %}
        <p> Enter your new password twice, then submit it </p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <input
                    class="btn btn-primary"
                    type="submit"
                    value="Submit"
            >
        </form>
    {% else %}
        <p>Invalid link, try again</p>
        <a href="{% url 'account:password_reset' %}"> Reset password again</a>
    {% endif %}
{% endblock %}