venv/
env/
__pycache__/
*.py[cod]
*.so
*.swp
*.swo
*.DS_Store
*.log
*.sqlite3
db.sqlite3
*.pot
*.pyc
.env
config/settings_local.py
staticfiles/
media/
*.mo
*.pyc
*.pyo
.idea/
.vscode/
*.iml
*.bak
*.tmp
*.orig